@model IEnumerable<CNNCStorageDB.Models.Worker>

@{
    ViewData["Title"] = "Main";
}

<h1>Workers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i> New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @item.Birthdate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-square-pen"></i> Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-circle-info"></i> Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
