@model CNNCStorageDB.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h3>Client</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>        <dt class = "col-sm-2">
            @Html.DisplayName("Number of projects")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.Count)
        </dd>
    </dl>
</div>
<div class="row m-2">
    <div class="col-md-2">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary w-75">Edit</a>
    </div>
    <div class="col-md-2">
        <a asp-action="Index" class="btn btn-secondary w-75">View all</a>
    </div>
</div>
