@model IEnumerable<CNNCStorageDB.Models.Client>

@{
    ViewData["Title"] = "Main";
}

<h1>Clients</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
                <a href="@Url.Action("Index", new { sort = ViewBag.NameSortParm })" class="text-decoration-none"><i class="fa-solid fa-sort"></i></a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                <div class="row">
                    <div class="col">
                        <a asp-action="Create" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> New
                        </a>
                    </div>
                    <div class="col">
                        <button onclick="window.open('@Url.Action("Print")')" class="btn m-0 p-0"><i class="fa-solid fa-print"></i>Print</button>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <div class="row align-content-center">
                        <div class="col">

                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-square-pen"></i> Edit</a>
                        </div>
                        <div class="col">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-circle-info"></i> Details</a>
                        </div>
                        <div class="col">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-trash"></i> Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
