@model IEnumerable<CNNCStorageDB.Models.Department>
@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int number = 0;
}

<h1>Departments</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                &#8470
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++number)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>