@model IEnumerable<CNNCStorageDB.Models.Department>

@{
    ViewData["Title"] = "Main";
}

<h1>Departments</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <div class="row">
                    <div class="col-3">
                        <a asp-action="Create" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> New
                        </a>
                    </div>
                    <div class="col-2">
                        <button class="btn m-0 p-0" onclick='OpenPrintTab("Departments","Print")'><i class="fa-solid fa-print"></i> Print</button>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-square-pen"></i> Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-circle-info"></i> Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
